* {
    margin: 2px;
    padding: 2px;
    font-family: 'Roboto Mono';
}

body {
    margin-top: 30px;
    font-family: 'Roboto Mono';
}

.etiquetalinha1 {
    display: block;
    color: black;
    margin-left: 140px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-radius: 10px;
}

.etiquetalinha2 {
    display: block;
    color: black;
    margin-left: 180px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-radius: 10px;
}

.etiquetalinha3 {
    display: block;
    color: black;
    margin-right: 200px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-radius: 10px;
}

.etiquetalinha4 {
    display: block;
    color: black;
    margin-right: 160px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
    border-radius: 10px;
}

/*Meu nome*/
h1 {
    font-size: 30px;
    margin-left: 0px; 
}

/*Contato: titulo e descrição*/
h2 {
    font-size: 20px;
    text-decoration: underline;
}
h3 {
    font-size: 17px;
}

.minhasinfos {
    text-align: center;
}

/*Livre: titulo e descrição*/
.livre {
    margin-top: 5px;
    margin-bottom: 10px;
}

.cv {
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
    padding: 5px;
}

h4 {
    font-size: 16px;
}

h5{
    font-size: 13px;
}

fieldset {
    margin: 10px;
}

/*Formulario*/
.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.formField {
    text-align: center;
    padding: 5px;
    margin: 5px;
    height: auto;
}

.formTitulo {
    display: flex;
    font-size: 20px;
    text-decoration: underline;
    font-weight: bolder;
}

.enviar {
    all: unset;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    margin: 15px;
    border-radius: 10px;  
    box-shadow: 2px 4px rgb(90, 90, 90);
}

.enviar:hover {
    color: rgba(196, 230, 196, 0.5);
    box-shadow: 3px 5px rgb(90, 90, 90);
}

/*pagina/conteudo principal*/

img {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 3px 2px 2px black;
}

main.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-size: 20px;
}

/*Menu_Header*/
.menu {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(196, 230, 196, 0.5);
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

li {
    border: 2px solid black;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px;
}

li:hover{
    box-shadow: 3px 5px 10px black;   
}

/*Footer*/
.pe {
    text-align: center;
    font-size: 15px;
    background-color: rgba(196, 230, 196, 0.5);
    border-radius: 10px;
    border-radius: 10px;
    padding-bottom: 15px;
    padding-top: 10px;
}

/*Logos Ln, GIT*/
#logos {
    font-size: 25px;
}

.mail {
    font-size: 15px;
    text-shadow: 0px 0px 0px;
}

/*Area de escrita do usuario*/
input, textarea {
    border-radius: 10px;
}
