* {
    margin: 2px;
    padding: 2px;
    font: arial;
}

body {
    margin-top: 50px;
    font-family: 'Roboto Mono';
}

.etiquetalinha1 {
    display: block;
    color: black;
    margin-left: 140px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
}

.etiquetalinha2 {
    display: block;
    color: black;
    margin-left: 180px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
}

.etiquetalinha3 {
    display: block;
    color: black;
    margin-right: 200px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
}
.etiquetalinha4 {
    display: block;
    color: black;
    margin-right: 160px;
    border-style: solid;
    border-width: 1px;
    background-color: black;
}

/*Meu Nome, */
h1 {
    font-size: 30px;
    margin-left: 0px;   
}
/*Hello, Contact, */
h2 {
    font-size: 15;
    text-align: center;
    margin-top: 5px;
}
/*Contato*/
h3 {
    
}

.fotogui {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 30px;
}

#menu {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(196, 230, 196, 0.5);
    border-radius: 10px;
}

#menu ul {
    list-style:none;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

#menu li {
    border: 2px solid black;
    border-radius: 10px;
}

/*Icones menu*/
a {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 1px;
}

li:hover{
    box-shadow: 3px 5px 10px black;
}
/*Roda pé*/
.pe {
    text-align: center;
    font-size: 15px;
    background-color: rgba(196, 230, 196, 0.5);
    border-radius: 10px;
}

/*Contato*/

.minhasinfos {
    text-align: center;
}

.pai {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 0.2fr) 0.6fr;
    grid-column-gap: 4px;
    grid-row-gap: 10px;
    }

.nome1 { 
    grid-area: 1 / 1 / 2 / 2; 
    text-align: right;
}
.espaco1 { 
    grid-area: 1 / 2 / 2 / 3;
    border-radius: 100px;
}
.nome2 { 
    grid-area: 2 / 1 / 3 / 2; 
    text-align: right;
}
.espaco2 { 
    grid-area: 2 / 2 / 3 / 3; 
}
.nome3 { 
    grid-area: 3 / 1 / 4 / 2; 
    text-align: right;
}
.espaco3 { 
    grid-area: 3 / 2 / 4 / 3; 
}

.priority {
    text-align: center;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

#button {
    all: unset;
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 5px;
    border-radius: 10px;  
    box-shadow: 2px 4px rgb(90, 90, 90);
}

#button:hover {
    color: rgba(196, 230, 196, 0.5);
    box-shadow: 3px 5px rgb(90, 90, 90);
}

/*Logos Ln, GIT*/
.logos {
    size: 20px;
}
